extends layout
block header
    style.
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            right: 10px;
            left: 10px;
            /*width: 100%;*/
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }
block content
    h1= title
    p Welcome to #{title}
    ul#messages
    form#chat_form(action='')
        input#m(autocomplete='off')
        button Send
    script(src = "/socket.io/socket.io.js")
    script.
        var socket = io();

        socket.on('message', function (data) {
            console.log(data);
        });

        socket.on('messages', function (data) {

            insertMessage(data);
        });

        socket.on('connect', function(data){
            $('#status').html('Connected to chattr');

            nickname = prompt("What is your nickname?");

            socket.emit('join', nickname);
        })

        $('#chat_form').submit(function (e) {
            var message = $("#m").val();

            socket.emit('messages', message);

            $("#m").val('');

            return false;
        });

        function insertMessage(data) {
            $("#messages").append($('<li>').text(data));
        }
        //var socket = io.connect('http://localhost:3000');