//
   Created by PHI on 2/28/2016.

extends layout
block content
    table
        thead
            th email
            th first name
            th last name
            th password
        tbody#content
            each user in data
                tr
                    td=user.email
                    td=user.firstName
                    td=user.lastName
                    td=user.password
    script(src = "/socket.io/socket.io.js")
    script.
        var socket = io();

        socket.on('message',function(data){
            console.log(data);
        })
        socket.on('connected', function (data) {
            console.log(data);
        })
        socket.on('update data', function (data) {
            console.log(data);
            $("#content").append("<tr><td>" +
                    data.email +
                    "</td><td>" +
                    data.firstName +
                    "</td><td>" +
                    data.lastName +
                    "</td><td>" +
                    data.password +
                    "</td></tr>")
        });
